.main {
    min-height: 100vh;
    background-color: #fff;
    .topp {
        position: sticky;
        top: 0;
        background-color: #fff;


        .dash {
            height: 38px;
            border: 2px solid #DFE1E5;
        }

        .dash2 {
            border: none;
            margin-top: 43px;
            border-bottom: 2px solid #DFE1E5;
        }

        .header {
            padding: 20px 0;
            display: flex;
            flex-wrap: wrap;
            column-gap: 2rem;
            row-gap: 1rem;
            justify-content: space-between;

            @media screen and (min-width:768px) {
                padding: 40px 0;
            }
        }

        .tabs {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .top {
                .heading {
                    font-size: 26px;
                    font-family: 'Sora', sans-serif;
                    margin-bottom: 5px;

                    @media screen and (min-width:600px) {
                        font-size: 32px;
                    }
                }

                .content {
                    font-size: 18px;
                    color: #141414B2;
                }
            }

            @media screen and (min-width:768px) {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }

            .untContainer {
                max-width: 400px;
                height: 68px;
            }
        }
    }
}