.content {
    padding: 3rem 0;

    @media screen and (min-width:768px) {
        padding: 50px 0;
    }

    .items {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .recent {
            @extend .items;
            gap: 24px;

            p {
                font-size: 18px;
                font-weight: 600;
                color: #141414CC;
            }

            .imgs {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 1.5rem;
                .single:hover{
                cursor: pointer;
                }
            }
        }

        .his {
            @extend .recent;

            .imgs {
                @media screen and (min-width:768px) {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}